	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Contactanos por:</h2>
						<p>Instagram : @loniazartgallery</p>
						<p>Whatsapp : +5491167856724</p>
						<p>Email : loniazartgallery@gmail.com</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Colaboradores</h2>
						<p>Varios profesionales de todo el mundo colaboran para mantener actualizado este sitio que pretende manteneros al dí­a de lo que ocurre en la web. Aplicaciones, noticias, eventos… intentaremos, entre todos, que no se nos escape nada.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>Protegemos tus datos, utilizamos las cookies necesarias</p>
					</article>
				</div>
			</div>
		</div>
	</footer>