<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->
	<!-- Banner -->
	<div class = 'banner'>
		<img src="images/Captura de Pantalla 2023-04-10 a la(s) 12.05.44.png" alt="Banner de ofertas"></div>
	<!-- /Banner -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/" method="GET" class=""> 
				<label>Usuario</label><input type="email" placeholder="mail">
				<br><br>
				<label>Contraseña</label><input type="password" placeholder="Contraseña">
				<br><br>
				<label>Recordarme</label><input type="checkbox" placeholder="Recordarme">
				<button type="submit"> Iniciar sesión </button>
			</form>

	<!-- footer -->
			<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>