<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/loniaz.png" /> 

	<title> Loniaz Art & Design </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="../css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../css/app.css">
</head>

<body>
	<!-- Header -->
	<% if(locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs') %>
<% } else { %>
   <%- include('./partials/header.ejs') %>
<% } %>
	<!-- /Header -->
	<!-- Banner -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<br><br><br><br><br>
				<h2 class="products-title">Ingresar</h2>
			</div>

			

			<form action="/users/login" method="POST" class=""> 
				<% if(locals.errors){  %> 
					<p class= “error”> <%= errors.message %> </p>
				 <% } %>
	
				<label>USUARIO</label><input class="input" name ="email" type="email" placeholder="mail">
				<br><br>
				<label>CONTRASEÑA</label><input class="input" name="contrasena" type="password" placeholder="Contraseña">
				<br><br>
				<label>Recordarme</label><input  name="checkbox" class="checkbox" type="checkbox" placeholder="Recordarme">
				<br><br>
				<button  class="boton"  type="submit"> Iniciar sesión </button>
			</form>

			<img  src="/images/1286923.png" alt="" class="ingresafoto">
	<!-- footer -->
			<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>